---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}


{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if author.googlescholar %}
  A complete list of my publications is available in <a href="https://scholar.google.com/citations?user={{author.googlescholar}}">Google Scholar</a>.
{% endif %}


<p><b>Journal publications:</b></p>

<ul style="margin-top:0px;">

{% for post in site.publications reversed %}
  {% if post.publication.type == "journal" %}
    <li>{% include publication-item-teaser.html %}</li>
  {% endif %}
{% endfor %}

</ul>


<p><b>Conference publications:</b></p>

<ul style="margin-top:0px;">

{% for post in site.publications reversed %}
  {% if post.publication.type == "conference" %}
    <li>{% include publication-item-teaser.html %}</li>
  {% endif %}
{% endfor %}

</ul>


