

{% if publication.type == "journal" %}
  {% include publication-item-journal.html %}
{% elsif publication.type == "conference" %}
  {% include publication-item-conference.html %}
{% endif %}

<br>

{% if flag_extended %}
  <br>
  <b>Resources: </b>
  <ul style="margin-top:0px;">
{% else %}
  <u>Resources:</u>
{% endif %}

{% if publication.doi %}
  {% if flag_extended %}
    <li>
    <b>Paper link:</b> <a href="https://doi.org/{{publication.doi}}">https://doi.org/{{publication.doi}}</a>
    </li>
  {% else %}
    <a href="https://doi.org/{{publication.doi}}">Paper link</a>.
  {% endif %}
{% endif %}
{% if publication.supplementary.preprints %}
  {% if flag_extended %}
    <li>
    <b>Preprints:</b> <a href="{{publication.supplementary.preprints}}">{{publication.supplementary.preprints}}</a>
    </li>
  {% else %}
    <a href="{{publication.supplementary.preprints}}">Preprints</a>.
  {% endif %}
{% endif %}
{% if publication.supplementary.video %}
  {% if flag_extended %}
    <li>
    <a href="{{publication.supplementary.video}}">Video</a>
    </li>
  {% else %}
    <a href="{{publication.supplementary.video}}">Video</a>.
  {% endif %}
{% endif %}
{% if publication.supplementary.webpage %}
  {% if flag_extended %}
    <li>
    <a href="{{publication.supplementary.webpage}}">Webpage</a>
    </li>
  {% else %}
    <a href="{{publication.supplementary.webpage}}">Webpage</a>.
  {% endif %}
{% endif %}
{% if publication.supplementary.code %}
  {% if flag_extended %}
    <li>
    <a href="{{publication.supplementary.code}}">Code</a>
    </li>
  {% else %}
    <a href="{{publication.supplementary.code}}">Code</a>.
  {% endif %}
{% endif %}
{% if publication.supplementary.data %}
  {% if flag_extended %}
    <li>
    <a href="{{publication.supplementary.data}}">Data</a>
    </li>
  {% else %}
    <a href="{{publication.supplementary.data}}">Data</a>.
  {% endif %}
{% endif %}
{% if publication.supplementary.bibtex %}
  {% if flag_extended %}
    <li>
    <b>Bibtex citation:</b> <a href="{{site.url}}/{{publication.supplementary.bibtex}}">Bibtex</a>
    </li>
  {% else %}
    <a href="{{site.url}}/{{publication.supplementary.bibtex}}">Bibtex</a>.
  {% endif %}
{% endif %}

{% if flag_extended %}
  </ul style="margin-top:0px;">
{% endif %}

<br>
